@import "../../styles/variables";
@import "../../styles/theme";
@import "../../styles/mixins";

.intro-section {
	height: calc(100vh - 200px);
	padding: 100px 100px 0;
	position: relative;

	h4 {
		margin-bottom: 0;
	}

	.my-name {
		font-size: 4em;
		margin-top: 0;
	}

	.what-I-do {
		width: 40%;
		font-size: 1.3em;
		font-weight: 300;
		line-height: 1.5em;
	}

	.headshot {
		height: calc(100% - 100px);
		width: fit-content;
		margin: auto;
		position: absolute;
		display: flex;
		left: 50%;
		bottom: -10px;
		translate: -50%;
		flex-direction: row;

		img {
			height: 100%;
			filter: grayscale(1);
			-webkit-transition: all ease 0.8s;
			-moz-transition: all ease 0.8s;
			transition: all ease 0.8s;

			&:hover {
				filter: grayscale(0);
			}
		}
	}

	.social-icons {
		display: flex;
		gap: 20px;
		margin-top: 100px;

		.social-icon {
			height: 25px;
		}
	}

	.titles {
		display: inline-flex;
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		opacity: 0.3;
		align-items: flex-end;
		z-index: -1;

		.bkg-text {
			font-size: 6em;
			text-shadow: 0 0 1px $primary-color, 0 0 2px $primary-color;
			color: var(--bkg-color);
			opacity: 0.3;
			flex: 1;
		}

		.dev {
			text-align: right;
		}
	}
}

.dark-bkg {
	background-color: var(--bkg-dark-color);
	padding: 100px;
	position: relative;
	z-index: 2;
}

.skills-short-container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 850px;
	margin: auto;
	gap: 80px 150px;

	.skill-box {
		@include flex-align-center;
		flex-direction: column;

		.skill-logo {
			height: 90px;
		}

		.skill-name {
			margin-top: 15px;
			font-size: 0.85em;
			opacity: 0.6;
		}
	}
}

.projects-examples-container {
	@include flex-just-center;
	gap: 10px;

	.proj-box {
		width: 400px;
		height: 250px;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		border-radius: $border-radius;

		.cover-img {
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
		}

		&::after {
			content: attr(datatitle);
			@include flex-just-center;
			position: absolute;
			background-color: rgba(146, 174, 207, 0.5);
			width: 100%;
			height: 100%;
			opacity: 0;
			top: 0;
			font-size: 2em;
			color: $background-color;
			padding: 30px;
			align-items: center;
			font-family: "Roboto";
			font-weight: 600;
			font-size: 2em;
		}

		&:hover::after {
			opacity: 1;
		}
	}
}

.services-section {
	padding-bottom: 200px !important;
}

.services-container {
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;

	.service-box {
		width: 375px;
		background-color: var(--bkg-dark-color);
		border-radius: $border-radius;
		padding: 25px 25px 20px;
		position: relative;
		margin-top: 20px;
		-webkit-box-shadow: 0px 2px 5px 0px $primary-color;
		-moz-box-shadow: 0px 2px 5px 0px $primary-color;
		box-shadow: 0px 2px 5px 0px $primary-color;

		.service-number {
			position: absolute;
			font-size: 3em;
			color: $primary-color;
			top: -35px;
			left: 40px;
			font-weight: 900;
			font-family: "Roboto Mono";
		}

		.service-icon {
			margin: auto;
			display: block;
			height: 70px;
		}

		h2 {
			text-align: center;
			opacity: 0.5;
			font-weight: 100;
		}
	}
}

.contact-section {
	padding: 100px;

	.contact-btn {
		margin: 20px auto;
	}
}

.header-container {
	position: relative;
}

.underlined-header {
	margin-bottom: 10px;
}

.center-underline {
	margin: 0 auto 20px;
}

.home-section {
	position: relative;
	padding: 100px;
}

.section-header {
	text-align: center;
	font-size: 2em;
}

footer {
	padding: 100px 100px 10px;
	text-align: center;
	background-color: var(--bkg-dark-color);

	.footer-container {
		display: inline-flex;
		width: 100%;
		justify-content: space-between;

		.nav-tabs,
		.social-contact {
			width: 20%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;

			.footer-link:hover {
				color: $primary-color;
			}
		}
	}

	h6 {
		font-size: 0.7em;
		margin-bottom: 0;
	}
}


@media screen and (max-width: 1400px) {
	.intro-section {
		padding: 100px 50px 0;
	}

	.dark-bkg, .contact-section, .home-section {
		padding: 100px 50px;
	}

	footer {
		padding: 100px 50px 10px;
	}
}

@media screen and (max-width: 1280px) {
	.services-container .service-box {
		width: 300px;
	}
}

@media screen and (max-width: 1000px) {
	.intro-section {
		.what-I-do {
			width: 50%;
		}

		.titles .bkg-text {
			font-size: 4em;
		}
	} 

	.skills-short-container {
		gap: 80px;

		.skill-box .skill-logo {
			height: 70px;
		}
	}

	.projects-examples-container .proj-box {
		height: 200px;
	}

	.services-container .service-box {
		.service-number {
			font-size: 2.2em;
			top: -25px;
		}

		h2 {
			font-size: 1.2em;
		}

		.service-icon {
			height: 50px;
		}
	}

	.home-section {
		padding: 50px 0;
	}
}

@media screen and (max-width: 750px) {
	.intro-section {
		.what-I-do {
			width: 80%;
		}

		.my-name {
			font-size: 3em;
		}
	} 

	.projects-examples-container .proj-box {
		height: 150px;
	}

	footer .footer-container .social-contact {
		width: 25%;
	}
}