@import "../../styles/variables";
@import "../../styles/theme";
@import "../../styles/mixins";

.experience-container {
	section {
		overflow: hidden;
	}
}

.tracker-bullets-container {
	position: fixed;
	right: 200px;
	top: 50%;
	transform: translateY(-50%);
}

.rindus-section {
	min-height: calc(100vh - 100px);
}

.experience-section {
	min-height: 100vh;
}

.drk-section {
	background-color: var(--bkg-dark-color);
}

.experience-box {
	@include flex-align-center;
	width: 50%;
	margin: auto;
	height: 100%;

	.left-panel {
		@include flex-align-center;
		writing-mode: vertical-lr;
		rotate: 180deg;
		flex-direction: column;
		height: 100%;
		flex-wrap: wrap;
		align-content: center;
		margin-right: 50px;
	}

	.experience-skills {
		width: 100%;

		.skill-chip {
			padding: 15px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.tracker-bullets-container {
		right: 100px;
	}

	.experience-box {
		width: 70%;
	}
}

@media screen and (max-width: 870px) {
	.tracker-bullets-container {
		right: 50px;
	}

	.experience-box {
		width: 80%;
	}
}

@media screen and (max-width: 700px) {
	.experience-container {
		section {
			padding: 50px 10px;
		}
	}

	.tracker-bullets-container {
		right: 10px;
	}

	.experience-box {
		width: 95%;
		margin-left: 0;
		flex-direction: column;
		justify-content: center;

		.left-panel {
			align-items: center;
			writing-mode: unset;
			rotate: unset;
			height: unset;
			margin-right: 0;
		}
	}

	.skill-bubble {
		height: unset;
		align-content: flex-start;

		.skill-chip {
			height: fit-content;
		}
	}
}

@media screen and (max-width: 700px) {
	.experience-container section {
		margin-top: 70px;
	}
}
