@import "../../styles/variables";
@import '../../styles/theme';
@import "../../styles/mixins";

.experience-container {
	section {
		overflow: hidden;
	}
}

.tracker-bullets-container {
	position: fixed;
	right: 200px;
	top: 50%;
	transform: translateY(-50%);
}

.rindus-section {
	height: calc(100vh - 100px);
}

.experience-section {
	height: 100vh;
}

.drk-section {
	background-color: var(--bkg-dark-color);
}

.experience-box {
	@include flex-align-center;
	width: 50%;
	margin: auto;
	height: 100%;

	.left-panel {
		@include flex-align-center;
		writing-mode: vertical-lr;
		rotate: 180deg;
		flex-direction: column;
		height: 100%;
		flex-wrap: wrap;
		align-content: center;
		margin-right: 50px;
	}

	.experience-skills {
		width: 100%;

		.skill-chip {
			padding: 15px;
		}
	}
}
