.contact-page {
    width: 50%;
    max-width: 800px;
    margin: auto;
    padding-top: 100px;
}

.or-line {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    padding: 50px 0;
    align-items: center;

    span {
        margin: 0 20px;
    }

    .left-line, .right-line {
        margin-bottom: 0;
    }
}

.contact-options-container {
	display: flex;
	width: 500px;
	justify-content: space-evenly;
	margin: 50px auto;

}
.contact-icon {
    transition: all 0.3s ease;
    height: 60px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;

    &:hover {
        scale: 1.05;
    }
}
