@import "./variables";

html[data-theme="dark"] {
	--bkg-color: #15191e;
	--bkg-dark-color: #101316;
	--color: #ebefff;
}

html[data-theme="light"] {
	--bkg-color: #ebefff;
	--bkg-dark-color: #e5e9f5;
	--color: #15191e;
}
