@import "../../styles/variables";
@import "../../styles/theme";
@import "../../styles/mixins";

.navbar {
	width: 100%;
	padding: 10px 100px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	color: var(--color);

	.nav-links {
		display: inline-flex;
		gap: 40px;
		font-size: 1em;
		font-family: "Roboto Mono", monospace;
		font-optical-sizing: auto;

		.active {
			color: $primary-color;
		}
	}
}

.aleb-logo {
	height: 55px;
}

.lang-btn {
	padding: 10px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: var(--bkg-color);
	color: var(--color);
	border: 2px solid $primary-color;
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: $primary-color;
		color: var(--bkg-color);
	}
}

.toggle-container {
	@include inline-flex-center;
}

@media screen and (max-width: 1400px) {
	.navbar {
		padding: 10px 50px;
	}
}

@media screen and (max-width: 750px) {
	.aleb-logo {
		height: 45px;
	}

	.navbar .nav-links {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	.navbar {
		padding: 10px 20px;
	}

	.lang-btn {
		height: 30px;
		width: 30px;
		border-width: 1px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 0.7em;
	}
}
