@import "../../styles/variables";
@import "../../styles/theme";
@import "../../styles/mixins";

.sidebar {
	@include flex-align-center;
	flex-direction: column;

	.tracker-bullet {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		border: 1px solid $secondary-color;
		margin: 10px 0;
		transition: all 0.3s ease;
		cursor: pointer;
	}

	.tracker-line {
		border-left: 1px solid var(--aleb-white);
		height: 25px;
		opacity: 0.25;
	}

	.active {
		background: $secondary-color;
	}
}
