@import "../src/styles/variables";
@import "./styles/theme";

body {
	margin: 0;
	padding: 0;
	background-color: var(--bkg-color);
	color: var(--color);
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
}

a {
	color: var(--color);
}

.skill-bubbles {
	height: 100%;
	display: flex;
	width: 50%;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: flex-start;

	.skill-chip {
		padding: 20px;
		font-size: 0.8em;
		border: 2px solid $primary-color;
		border-radius: 20px;
		background-color: var(--bkg-color);
		transition: all 0.2s ease-in-out;
		min-width: 70px;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: $primary-color;
			color: $secondary-color;
		}
	}
}

.spaced-text {
	line-height: 2em;
	text-align: justify;
}

.sec-color {
	color: $primary-color;
}

.underline {
	margin-bottom: 20px;
	width: 10%;
	height: 1px;
	background-color: #92aecf42;
}

.mt0 {
	margin-top: 0;
}
